.breadcrumb{
    border-bottom: 1px solid #333;
    .container-fluid{
        padding-left: 4em;
        padding-right: 4em;
    }
    h2{
        font-size: clamp(1rem,2vw,1.3rem);
        padding: 2.5em 0;
        color: $primary_color;
    }
}

.breadcrumb_links{
    padding: 2.5em 0;
    h2{
        font-size: clamp(1rem,2vw,1.3rem);
        color: $primary_color;
    }
    .links{
        margin-top: 0.5em;
        a{
            color: rgb(151, 151, 151);
            font-size: clamp(0.7rem,2vw,0.9rem);
            &.active{
                color: $primary_color !important;
            }
        }
    }
}