@import url('../../fonts/poppins-fonts.css?family=poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    position: relative;
    color: #4F5962;
    box-sizing: border-box;
    font-family: "Quicksand";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        @extend a;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
}

table {
    margin: 0;
}

:root {
    --primaryColor: #2C615F;
    --green: #8AC544;
    --light-grey: #F8F8F8;
    --grey: #D8D8D8;
    --txtColor: #4F5962;
    --yellow: #FFCE31;
    --dark-grey: #A7ACB0;
    --borderColor: #AAAEB1;
    --light-purple: #F4C8C7;
    --dark-purple: #942C3B;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

$primary_color: var(--primaryColor);
$green: var(--green);
$light-grey: var(--light-grey);
$grey: var(--grey);
$txt_color:var(--txtColor);
$borderColor:var(--borderColor);
$light_purple:var(--light-purple);
$dark_purple:var(--dark-purple);
$dark_grey:var(--dark-grey);
$yellow:var(--yellow);

.bg_green {
    background-color: $green;
}

.bg_grey {
    background-color: $primary_color;
}

.txt_grey {
    color: $primary_color;
}

.common_btn {
    padding: 0.7em 1.2em;
    font-size: clamp(0.75rem, 2vw, 0.85rem);
    border: 1px solid $primary_color;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    display: block;
    text-align: center;
}

.hover_dark:hover {
    background-color: $primary_color;
    color: #fff !important;
}

.hover_light:hover {
    background-color: #fff;
    color: $primary_color !important;
}

.star_ratings {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .stars_wrapper {
        .fa-star {
            color: $grey;
            font-size: clamp(0.75rem, 2vw, 0.85rem);

            &.checked {
                color: $yellow;
            }
        }
    }

    span {
        color: $dark_grey;
        font-weight: 600;
        font-size: clamp(0.75rem, 2vw, 0.85rem);
    }
}

.underline_a {
    color: $primary_color;
    text-decoration: underline;
    font-size: clamp(0.75rem, 2vw, 0.85rem)
}

.page_heading {
    margin-bottom: 1rem;
    border-bottom: 1px dashed $borderColor;
    width: 100%;
    max-width: 800px;

    h2 {
        color: $primary_color;
        font-size: clamp(1rem, 2vw, 1.45rem);
        color: $primary_color;
        padding: 3rem 1rem 1rem;
        font-weight: 600;
    }
}

.section_heading {
    margin-bottom: 1rem;
    border-bottom: 1px dashed $borderColor;
    width: 100%;
    max-width: 800px;

    h4 {
        color: $primary_color;
        font-size: clamp(0.85rem, 2vw, 1rem);
        color: $primary_color;
        padding: 2rem 1rem 1rem;
    }
}

.s_hd {
    border-bottom: 1px dashed $borderColor;
    font-size: clamp(0.95rem, 2vw, 1.1rem);
    padding-bottom: 0.5em;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 800px;

    h4 {
        font-size: inherit;
        font-weight: 600;
        color: $primary_color;
        padding-left: 1em;
    }
}

@import 'mixins',
'breadcrumb',
'customInputs',
'header',
'chatbox',
'globelForm',
'globalCard',
'./renter/renterDashboard',
'./renter/renterTrips',
'./renter/renterAcc',
'./renter/renterNotifications',
'./renter/renterProfile',
'./renter/renterFavourites',
'./renter/renterPass',
'./renter/renterPayment';